*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }

.section-full-text {
  padding-top: 10rem;
  font-size: 1.5rem; }

.section-summarized-text {
  display: none;
  padding: 10rem;
  font-size: 2.5rem;
  line-height: 5rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 900;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: all .2s; }

.btn:active, .btn:focus {
  outline: none; }

.btn--small {
  font-size: 1.5rem;
  font-weight: 700; }

.btn--white {
  background-color: #FFF;
  color: #707070;
  border: 2px solid #00B430; }
  .btn--white:hover {
    background-color: #00B430;
    color: #FFF; }

.btn--green {
  background-color: #00B430;
  color: #FFF;
  border: 2px solid #00B430; }

.speed-read-popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .speed-read-popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 50%;
    background-color: #FFF;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
  .speed-read-popup__left {
    width: 33.333333%;
    display: table-cell; }
  .speed-read-popup__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .speed-read-popup:target {
    opacity: 1;
    visibility: visible; }
  .speed-read-popup:target .speed-read-popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .speed-read-popup__close:link, .speed-read-popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .speed-read-popup__close:hover {
    color: #999; }
  .speed-read-popup__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%; }
  .speed-read-popup__row {
    max-width: 80%; }
  .speed-read-popup__word {
    margin-top: auto;
    font-size: 6rem; }
  .speed-read-popup__options {
    display: flex;
    align-items: center;
    margin-top: auto;
    width: 100%; }
  .speed-read-popup__option-item--speed {
    text-align: left; }
  .speed-read-popup__option-item--play {
    margin-left: 22%;
    text-align: center; }

.form__input {
  font-size: 2rem;
  font-family: inherit;
  color: inherit;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid #00B430;
  width: 6rem;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid #00B430; }

.form__label {
  font-size: 2rem;
  font-weight: 700; }
  .form__label--speed {
    justify-self: start; }
  .form__label--play {
    justify-self: center; }

.toolbar {
  opacity: .92;
  /*    
	//ICON
	&__icon {
		position: relative;
		margin-top: 3rem;
		
		&,
		&::before,
		&::after {
			width: 3rem;
			height: 1px;
			background-color: $color-grey-dark-3;
			display: inline-block;
		}
		
		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			transition: all .1s;
		}
		
		&::before { top: -.8rem; }
		&::after { top: .8rem; }
	}
	
	&__button:hover &__icon::before {
		top: -1rem;
	}
	
	&__button:hover &__icon::after {
		top: 1rem;
	}
	
	&__checkbox:checked + &__button &__icon {
		background-color: transparent;
	}
	
	&__checkbox:checked + &__button &__icon::before {
		top: 0;
		transform: rotate(135deg);
	}
	
	&__checkbox:checked + &__button &__icon::after {
		top: 0;
		transform: rotate(-135deg);
    }
*/ }
  .toolbar__checkbox {
    display: none; }
  .toolbar__button {
    background-color: #FFF;
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: all .5s; }
    .toolbar__button:hover {
      background-color: #F4FAFF; }
  .toolbar__background {
    height: 8rem;
    width: 100%;
    position: fixed;
    opacity: 0;
    top: -8rem;
    left: 0;
    background-image: linear-gradient(#F2F2F2, #F2F2F2);
    box-shadow: none;
    z-index: 1000;
    transition: all .5s; }
  .toolbar__nav {
    height: 8rem;
    width: 100%;
    position: fixed;
    opacity: 0;
    top: -8rem;
    left: 0;
    z-index: 1500;
    transition: all .5s; }
  .toolbar__checkbox:checked ~ .toolbar__background {
    top: 0;
    opacity: 1;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15); }
  .toolbar__checkbox:checked ~ .toolbar__nav {
    top: 1.2rem;
    opacity: 1; }
  .toolbar__icon-container {
    position: relative;
    height: 100%;
    transform: scaleX(0.7) rotate(15deg);
    transition: all .5s; }
    .toolbar__icon-container:hover {
      transform: scaleX(0.8) rotate(8deg); }
  .toolbar__icon {
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .toolbar__checkbox:checked + .toolbar__button .toolbar__icon-container {
    transform: scaleX(1) rotate(0); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 6rem * 2) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 6rem * 3) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 6rem * 3) / 4) + 2 * 6rem); }

  /* This is for Google Translate nav */
.ct-topbar {
  text-align: right;
  background: #eee;
}
.ct-topbar__list {
  margin-bottom: 0px;
}
.ct-language__dropdown{
  padding-top: 8px;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 110%;
  left: -3px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 100px;
  text-align: center;
  padding-top: 0;
  z-index:200;
}
.ct-language__dropdown li{
  background: #222;
  padding: 5px;
}
.ct-language__dropdown li a{
  display: block;
}
.ct-language__dropdown li:first-child{
  padding-top: 10px;
  border-radius: 3px 3px 0 0;
}
.ct-language__dropdown li:last-child{
  padding-bottom: 10px;
  border-radius: 0 0 3px 3px;
}
.ct-language__dropdown li:hover{
  background: #444;
}
.ct-language__dropdown:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 8px;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 8px;
  border-left-width: 8px;
  border-bottom: 8px solid #222;
}
.ct-language{
  position: relative;
  cursor: default; !important;
}
.ct-language:hover .ct-language__dropdown{
  max-height: 200px;
  padding-top: 8px;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.navbar-brand>img {
  padding-top: 11px;
  width: 130px;
  margin-left: 15px;
}
.navbar-brand {
  height: auto;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}
.navbar {
  background-color: #000000;
}
.navbar-default .navbar-nav > .active > a {
  padding: 8px 19px 9px !important;
}
.navbar-nav > li.active {
  padding: 8px 0px 9px 0;
}
.navbar-right {
  padding-top: 0;
}
.navbar-default .navbar-nav > li > a::after {
  background-color: transparent;
  border-bottom: 3px solid #d2282e;
}
.navbar-default .navbar-nav>li {
  display: inline-block;
  text-align: center;
  float: none;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  background-color: #0392CC;
}