// COLORS
$color-blue-dark: #1F88B2;
$color-blue-light: #23ADF0;

$color-orange-dark: #F26419;
$color-orange-light: #F6AE2D;

$color-green: #00B430;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #707070;

$color-offwhite: #F2F2F2;
$color-offwhite-2: #F4FAFF;
$color-white: #FFF;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// SIZES
$toolbar-height: 8rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;